# Configuration file

####################
# block
#===================
# Set id to 0 to disable loading the block, add - in front of id to disable recipe only.
####################

block {
    I:chunkLoaderId=1890
}


####################
# general
#===================
# Disabling items/blocks only disables recipes.
####################

general {
    B:allowWRRemove=false
    B:chunkSight=true
    B:chunkSightAutorefresh=true

    # Range of chunk load boundaries.
    I:chunkSightRange=8
    B:enableTriggers=true

    # Default key to toggle chunk load boundaries.
    I:laserKeyChar=64

    # Percentage of power a power teleport pipe transmits. Between 0 and 100.
    I:powerLoss=90
}


####################
# item
#===================
# Set id to 0 to disable loading the item, add - in front of id to disable recipe only.
####################

item {
    I:pipeItemsAdvancedInsertionId=31671
    I:pipeItemsAdvancedWoodId=31670
    I:pipeItemsClosedId=31665
    I:pipeItemsDistributorId=31669
    I:pipeItemsRedStoneId=31672
    I:pipeItemsSwitchId=31663
    I:pipeItemsTeleportId=31668
    I:pipeLiquidsRedstoneId=31673
    I:pipeLiquidsSwitchId=31662
    I:pipeLiquidsTeleportId=31667
    I:pipeLiquidsWaterPumpId=31661
    I:pipePowerSwitchId=31664
    I:pipePowerTeleportId=31666
}


