# Configuration file

####################
# block
####################

block {
    I:darkIronOre=1004

    # Factorization TileEntities
    I:factoryBlockId=1000
    I:fracturedBedrockBlockId=1003

    # WrathFire and invisible lamp-air made by WrathLamps
    I:lightAirBlockId=1001

    # Ores and metal blocks mostly
    I:resourceBlockId=1002
}


####################
# client
####################

client {
    B:allowUnpureCommands=true

    # Lets you use the bag from GUIs
    B:anywhereBagSwap=true

    # Lets you open the pocket crafting table from GUIs
    B:anywherePocketCraft=true

    # Show invisible lamp-air
    B:debugLightAir=false

    # If true, enables a thread that dumps a stack trace of Minecraft if it is paused for longer than lagWatchDogInterval
    B:enableLagWatchDog=false

    # Remove nether fog at short render distances
    B:fixNetherFog=true

    # Make middle clicking more useful
    B:fixPickBlock=true

    # If the game is stuck for longer than this amount of time (in seconds), dump a stacktrace of what it is doing.
    D:lagWatchDogInterval=0.25

    # Render servo instructions extra-large. This can also be toggled on and off using '/f servoInstructionSize'.
    B:largeServoInstructions=false

    # Sets a lower bound on time dilation. Between 0 and 1.
    D:lowestTimeDilation=0.6000000238418579

    # 3 keys for: removing (x), cycling (c), balancing (b)
    S:pocketCraftingActionKeys=xcbf

    # If false, never use smooth lighting for drawing sculptures
    B:renderAmbientOcclusion=true

    # If true, render barrel info only when nearby
    B:renderBarrelClose=false
    B:renderBarrelItem=true
    B:renderBarrelText=true

    # If false, most TEs won't draw, making everything look broken but possibly improving FPS
    B:renderOtherTileEntities=true

    # If this is enabled, the client will run as slowly as the server does. This avoids visual artifacts on laggy servers.
    B:useTimeDilation=true
}


####################
# dimensionslices
####################

dimensionslices {
    # work in progress; may be unstable
    B:enableDimensionSlices=false
}


####################
# general
####################

general {
    B:addBranding=false
    I:entityRelightTask=3

    # Set to false to disable broken bedrock spawning around dark iron ore
    B:generateBrokenBedrock=true

    # Set to false to disable dark iron ore generation
    B:generateDarkIronOre=true

    # Set to false to disable silver ore generation
    B:generateSilverOre=false

    # The size of silver ore nodes. Between 5 & 35. Default is 18
    I:silverOreNodeNewSize=18
}


####################
# item
####################

item {
    I:acid=9124
    I:bagOfHolding=9101
    I:barrelEnlarge=9132
    I:battery=9133
    I:chargemeter=9129
    I:coil=9126
    I:darkIron=9108
    I:darkIronSprocket=9159
    I:daybarrelItem=9162
    I:diamondCuttingHead=9138
    I:diamondShard=9106
    I:fan=9128
    I:glazeBucket=9155
    I:instructionPlate=9165
    I:leadIngot=9114
    I:logicMatrix=9144
    I:logicMatrixCtrl=9163
    I:logicMatrixID=9145
    I:logicMatrixProgrammer=9143
    I:magnet=9125
    I:mirror=9130
    I:motor=9127
    I:netherPowder=9150
    I:oreCleanGravel=9135
    I:oreCrystal=9137
    I:oreDirtyGravel=9134
    I:oreReduced=9136
    I:pocketCraftingTable=9102
    I:routerEject=9131
    I:routerItemFilter=9116
    I:routerMachineFilter=9117
    I:routerSpeed=9118
    I:routerThorough=9119
    I:routerThroughput=9120
    I:sculptTool=9141
    I:servoCommenter=9166
    I:servoMotor=9160
    I:servoMotorPlacer=9156
    I:servoWidgetDecor=9157
    I:servoWidgetInstruction=9161
    I:silverIngot=9115
    I:sludge=9139
    I:socketPart=9164
    I:wrathIgniter=9107
}


####################
# retrogen
####################

retrogen {
    B:enableRetrogen=false
    B:retrogenDarkIron=false
    S:retrogenKey=DEFAULT
    B:retrogenSilver=false
}


####################
# server
####################

server {
    # This is a Java Regex to blacklist router access
    S:bannedRouterInventoriesRegex=

    # Adds recipes for bark variants of logs
    B:barkRecipes=true

    # If false, water must be piped in
    B:boilersSuckWater=true

    # Set to false to disable the crafting recipe for solar2steam machines
    B:enableSolarSteam=true

    # Causes some mobs to rarely spawn wearing your armor
    B:equalOpportunitiesForMobs=true

    # If false, notifications will be translated by the client
    B:serversideTranslate=true
    B:spreadWrathFire=true

    # Scale how much steam is produced by the solar boiler
    D:steamOutputAdjustment=1.0

    # If true, maximum clay lump volume is 1 m³ instead of (1 m³)/4
    B:stretchyClay=true

    # How many ticks the server will wait before sending out TPS reports. 20 ticks = 1 second, unless it's lagging.
    I:tpsReportInterval=20
}


